# התעלמות מהתיקייה המקומית של טארפורם (הכי כבד)
.terraform/

# התעלמות מקובצי המצב (מכילים מידע רגיש ומשתנים כל הזמן)
*.tfstate
.tfstate.

# התעלמות מקובצי משתנים סודיים (אם יש לך)
*.tfvars
*.tfvars.json

# התעלמות מקובצי לוג ותוצרי הרצה
.terraform.lock.hcl
crash.log
*.mp4
*.mov
**/.terraform/*
terraform.tfstate*